body {
    margin: 0;
    background-color: rgb(57, 57, 112);
}

.header_style {
    color: white;
    margin: 0;
    text-align: center;
}

.header {
    background-color: black;
    margin: 0;
    height: 50px;
}

